.ui.inverted.segment{
  background-color: #D2B48C !important;
}

.menu{
  border: none !important
}

.login {
  padding: -2vw 4vw;
  margin: 1vw 0;
}

.loginForm {
  padding: 10vw;
  background-color: bisque;
  width: 10vw;
}
.ui.card:hover{
  cursor: pointer;
}



.ui.centered.medium.image{
width: 70vw;
height: 59vh;
font-size: 1rem;
}

/* have to add font family and size */
.bio{
  text-align: center;
}

.destName{
  text-align: center;
}

.things-to-do-img{
  width: 20vw;
}
