.segment{
  background-color: #D2B48C !important;
}

.menu{
  border: none !important
}

.login {
  padding: -2vw 4vw;
  margin: 1vw 0;
}

.loginForm {
  padding: 10vw;
  background-color: bisque;
  width: 10vw;
}
.ui.card:hover{
  cursor: pointer;
}
