/* Home page css */
body{
  background-color: #f3f3f3;
  position: relative;
  margin: 0;
  padding: 0;
}

.page-header{
  background-color: #ffffff !important;
  padding-bottom: -1vh !important;
  margin-bottom: 5vh !important;
}

.page-logo{
  width: 3vw !important;
  height: 5vh !important;
  border-radius: 5vw !important;
  margin-top: 0vh !important;
  margin-left: 3vw !important;
}

.logo-title-header{
  display: flex;
  align-items: center;
  margin-bottom: -5vh;
}

.page-title{
  margin-left: 0.8vw !important;
  margin-top: 1vh !important;
  margin-bottom: 0.8vh !important;
  font-family: Trip Sans, Arial, sans-serif !important;
  font-size: 2vw !important;
  letter-spacing: -0.2vw !important;
}

.header-buttons{
  background-color: #ffffff !important;
  color: #ffffff !important;
  margin-top: 6vh !important;
  margin-bottom: -1vh !important;
  border-bottom: #000000 !important;
}

.profile-btn{
  margin-left: 2vw !important;
  color: #000000 !important;
  font-size: 1.1vw !important;
  font-weight: bold !important;
  padding-bottom: -1vh !important;
  background-color: #ffffff !important;
  border-radius: 0vw !important;
  border-bottom: solid #ffffff !important;
}

.profile-btn:hover{
  border-bottom: solid !important;
}

.logout-btn{
  color: #000000 !important;
  font-size: 1.1vw !important;
  font-weight: bold !important;
  padding-bottom: -1vh !important;
  background-color: #ffffff !important;
  border-radius: 0vw !important;
  border-bottom: solid #ffffff !important;
}

.logout-btn:hover{
  border-bottom: solid !important;
}

.sign-up-btn{
  margin-left: 2vw !important;
  color: #000000 !important;
  font-size: 1.1vw !important;
  font-weight: bold !important;
  padding-bottom: -1vh !important;
  background-color: #ffffff !important;
  border-radius: 0vw !important;
  border-bottom: solid #ffffff !important;
}

.sign-up-btn:hover{
  border-bottom: solid !important;
}

/* sign up form css */
.ui.active.modal{
  width: 25vw !important;
  height: 70vh !important;
  padding-top: 4vh !important;
}

.sign-up-login-form-header{
  text-align: center !important;
  font-size: 2vw;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 0.5vh;
  margin-bottom: 3vh;
  color: #15ddab;
}

.sign-up-login-form{
  display: grid;
  justify-content: center;
  align-items: center;
}

.sign-up-login-label{
  text-align: center;
  font-size: 1.1vw !important;
  font-family: Trip Sans, Arial, sans-serif;
  margin-bottom: 2vh !important;
}

.sign-up-login-input{
  width: 15vw !important;
  align-items: center !important;
}

.sign-up-login-submit-btn{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 3vh !important;
}

.header-separation{
  margin-top: -5vh;
  border: solid #cecece;
  border-width: 0.5px;
}

.home-page-picture{
  width: 100vw;
  height: 40vh;
  margin-top: -3vh;
  z-index: -1;
}

/* search bar */
.search-form{
  margin-top: -12vw;
  margin-left: 30vw;
}

.search-input{
  width: 35vw;
  font-size: 1.8vw;
}

.auth-destination-container{
  display: flex;
  align-items: center;
}

.welcome-container{
  padding-left: 6vw;
  padding-right: 6vw;
  padding-bottom: 1.5vh;
  padding-top: 1.5vh;
  background-color: #15ddab;
  width: 5vw;
  margin-left: 1vw;
  margin-top: -15vw;
}

.welcome-message{
  font-weight: bold;
  font-size: 1vw;
  margin-left: -4.8vw;
  width: 15vw;
}

/* home page destination cards */
.destination-container{
  margin-left: 8vw !important;
  margin-top: 20vh !important;
}

/* when user is login the margin of the destination container is reduced */
.login-destination-container{
  margin-left: -3vw !important;
  margin-top: 20vh !important;
}

.destination-card{
  height: 25vh !important;
  width: 18vw !important;
  margin-left: 2vw !important;
  margin-top: 2vh !important;
  margin-bottom: 2vh !important;
  border-radius: 0vw !important;
}

.destination-card:hover{
  opacity: 0.8 !important;
}

.destination-card-image img{
  width: 18vw !important;
  height: 25vh !important;
  border-radius: 0vw !important;
}

.destination-header{
  margin-top: -26vh !important;
  position: absolute !important;
  color: #020202 !important;
  font-weight: bold !important;
}

.destination-info-content{
  position: absolute !important;
  margin-top: -15vh !important;
  text-align: center !important;
  color: #000000 !important;
  align-items: center !important;
  font-weight: 600 !important;
  font-size: 2vw !important;
}

.hover-destination-header{
  margin-top: 2vh !important;
  margin-left: 1vw !important;
  position: absolute !important;
  color: #020202 !important;
  font-weight: bold !important;
}

/* Destination show page css */
.add-to-bucketlist{
  font-size: 1.1vw !important;
  font-family: Trip Sans, Arial, sans-serif !important;
  letter-spacing: -0.05vw !important;
  margin-left: 87vw !important;
  background-color: #15ddab !important;
  color: #000000 !important;
  border-radius: 3vw !important;
  font-weight: bold !important;
}

.add-to-bucketlist:active{
  cursor: pointer !important;
  font-size: 1.1vw !important;
  font-family: Trip Sans, Arial, sans-serif !important;
  letter-spacing: -0.05vw !important;
  margin-left: 87vw !important;
  background-color: #000000 !important;
  color: #15ddab !important;
  border-radius: 3vw !important;
  font-weight: bold !important;
}

.destination-showpage-name{
  text-align: center;
  font-size: 3vw !important;
  font-family: Trip Sans, Arial, sans-serif !important;
}

.destination-showpage-image{
  width: 62vw !important;
  height: 50vh !important;
  /* margin-left: 18.5vw !important; */
  margin: auto !important;
  border-radius: 0.5vw !important;
}

.destination-showpage-type{
  text-align: center;
}

.destination-showpage-bio{
  text-align: center;
  margin-top: 3vh !important;
  margin-bottom: 10vh !important;
  margin-left: 20vw !important;
  margin-right: 20vw !important;
}

/* things to do container css */
.things-to-do-container-header{
  margin-left: 8vw !important;
  margin-bottom: 5vh !important;
  font-size: 2vw !important;
  text-decoration: underline;
}

.things-to-do-container{
  margin-left: 7vw !important;
  margin-bottom: 5vh !important;
}

.things-to-do-card{
  margin-left: 1vw !important;
  border-radius: 0vw !important;
  width: 20vw !important;
}

img.ui.image.things-to-do-image{
  width: 20vw;
  height: 25vh;
  border-radius: 0vw !important;
}

.things-to-do-header{
  font-size: 1.3vw !important;
  font-weight: bold;
  font-family: Trip Sans, Arial, sans-serif;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 1.5vh;
}

.things-to-do-bio{
  padding: 1.5vw;
}

/* review/rating css */
.ui.container.review-container{
  margin-left: 0vw !important;
}

.review-container{
  background-color: #ffffff;
  width: 45vw !important;
  padding-top: 5vh !important;
  padding-bottom: 3vh !important;
  padding-right: 1vw !important;
  margin-top: 1vh !important;
}

.comment-card{
  margin-bottom: 2vh !important;
  border-radius: 0vw !important;
}

.review-username{
  font-size: 0.8vw;
  margin-bottom: 0.5vh;
  margin-left: 2vw;
  margin-top: -2.7vh;
  text-decoration: underline;
}

.comment-rating-card{
  margin-left: 2vw;
  margin-bottom: 1.5vh;
}

.rating-stars-card{
  margin-bottom: 0.5vh;
  margin-left: 0.7vw;
  font-size: 1.4vh !important;
}

.review-comment-card{
  font-size: 2.2vh;
  margin-left: 0.7vw;
  margin-bottom: -1vh !important;
}

.review-delete-button{
  float: right;
  margin-right: 0.8vw !important;
  margin-top: -3.5vh !important;
  font-size: 1.4vw;
}

.review-delete-button:hover{
  cursor: pointer;
  float: right;
  margin-right: 0.8vw !important;
  margin-top: -3.5vh !important;
  font-size: 1.4vw;
  color: #5a5a5a;
}

.comment-form-input{
  width: 20vw !important;
  min-height: 2vh !important;
  border-radius: 5vw !important;
  font-size: 0.9vw !important;
  overflow: hidden !important;
  resize: none !important;
  margin-top: 2vh !important;
}

.comment-form-rating{
  margin-top: 1vh !important;
  display: block !important;
}

.create-review-button{
  margin-top: 1vh !important;
  margin-bottom: 50vh !important;
  background-color: #000000 !important;
  color: #ffffff !important;
}

/* profile page css */
.ui.image.profile-cover-photo{
  width: 100vw !important;
  height: 40vh;
  margin-top: -3vh;
  z-index: -1;
}

.photo-container{
  margin-top: -5vh !important;
  margin-left: 15vw !important;
  border-radius: 0vw !important;
  width: 70vw;
}

.ui.image.profile-picture{
  width: 8vw;
  border-radius: 8vw !important;
  margin-bottom: 2vh;
}

.profile-delete-btn{
  border: inherit !important;
  border-radius: 0.3vw !important;
  font-weight: bold !important;
  padding: 0.5vw !important;
  padding-left: 1.3vw !important;
  margin-left: 64.5vw !important;
  margin-top: -15vh !important;
  width: 4vw;
}

.profile-bio{
  margin-top: 2vh;
  font-weight: 500;
  font-size: 1.2vw;
  display: block;
}

.photo-header-container{
  display: flex;
  align-items: center;
}

.photo-contribution-title{
  margin-left: 2vw;
  font-weight: bold;
  font-size: 1.5vw;
}

.photo-contribution-number{
  color: #767676;
  font-weight: bold;
  font-size: 1.5vw;
  margin-left: 2.3vw;
  margin-top: 1vh;
  display: block;
}

.photo-bucketllist-title{
  margin-left: 2vw;
  font-weight: bold;
  font-size: 1.5vw;
}

.photo-bucketlist-number{
  color: #767676;
  font-weight: bold;
  font-size: 1.5vw;
  margin-left: 2.3vw;
  margin-top: 1vh;
  display: block;
}

/* bucketlist container css */
.bucketlist-container{
  margin-top: 10vh !important;
}

.bucketlist-container-header{
  margin-left: 1.5vw !important;
  font-size: 2vw !important;
  text-decoration: underline;
}

.bucketlist-group-card{
  margin-top: 4vh !important;
}

.bucketlist-card{
  width: 19vw !important;
  height: 25vh !important;
}

.bucketlist-header{
  margin-top: -10vh !important;
  position: absolute !important;
  color: #020202 !important;
  font-weight: bold !important;
}

.bucketlist-image{
  height: 25vh !important;
  width: 19vw !important;
  position: absolute !important;
}

.buckelist-content{
  display: flex !important;
  align-items: center !important;
}

.bucketlist-card:hover .bucketlist-delete-btn{
  cursor: pointer;
  font-size: 1.5vw;
  z-index: 1;
  text-align: center;
  margin-top: -10vh;
  margin-left: 15.5vw;
  opacity: 1;
  position: absolute;
  background-color: #b3b3b3;
  border-radius: 2vh;
  width: 1.5vw;
  padding-bottom: 0.3vh;
  padding-left: -0.3vw;
}

.bucketlist-card:hover .bucketlist-image{
  opacity: 0.4;
}

.bucketlist-card:hover .bucketlist-header{
  opacity: 0.4;
}

/* footer container css */
.footer-container{
  margin-bottom: 8vh;
}

.footer-logo-container{
  display: flex;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 1.5vh;
}

.footer-image{
  width: 3vw !important;
  height: 3vh !important;
  margin-top: 10vh !important;
  margin-left: 5vw !important;
}

.footer-title{
  margin-top: 10vh !important;
  margin-left: 0.5vw !important;
  letter-spacing: -0.1vw !important;
  font-family: Trip Sans, Arial, sans-serif !important;
  font-weight: bold !important;
  font-size: 1.6vw !important;
}

.footer-certified-logo{
  margin-left: 5vw;
  color: #767676;
  font-size: 0.8vw;
}

.footer-website-rights{
  margin-left: 5vw;
  color: #767676;
  font-size: 0.8vw;
  margin-right: 5vw;
}

/* not found css */
.not-found-header{
  text-align: center;
  margin-top: 8vh !important;
  font-size: 3.5vw !important;
}

.not-found-image{
  margin: auto !important;
  margin-top: 8vh !important;
}